In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import altair as alt

In [8]:
# Import data set from "\\wsl.localhost\Ubuntu\home\zfenton\ischool\DATASCI207\dataset.csv"

df = pd.read_csv("dataset.csv")

In [9]:
df.head()

,Year,Economy,Economy Label,Absolute value in thousands,Absolute value in thousands Missing value,Urban population as percentage of total population,Urban population as percentage of total population Missing value
0,1950,1,Individual economies,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE
1,1950,4,Afghanistan,7480.461,0,6,94
2,1950,8,Albania,1252.582,0,20.52805,79.47195
3,1950,12,Algeria,9019.866,0,22.2132,77.7868
4,1950,16,American Samoa,19.032,0,61.76874,38.23126

In [14]:
df.shape

(31571, 7)

In [17]:
count = 0
for i in range(0, df.shape[1]):
    for j in range(0, df.shape[0]):
        if df.iloc[j, i] == "NOT APPLICABLE":
            count = count + 1
print(count)

10180

In [18]:
# Replace "NOT APPLICABLE" with NaN
df = df.replace("NOT APPLICABLE", np.nan)

In [19]:
df.head()

,Year,Economy,Economy Label,Absolute value in thousands,Absolute value in thousands Missing value,Urban population as percentage of total population,Urban population as percentage of total population Missing value
0,1950,1,Individual economies,NaN,NaN,NaN,NaN
1,1950,4,Afghanistan,7480.461,0,6,94
2,1950,8,Albania,1252.582,0,20.52805,79.47195
3,1950,12,Algeria,9019.866,0,22.2132,77.7868
4,1950,16,American Samoa,19.032,0,61.76874,38.23126

In [61]:
# Group by Year and Economy Label
df_grouped = df.groupby(["Year", "Economy Label"]).mean()

/tmp/ipykernel_12089/453551673.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped = df.groupby(["Year", "Economy Label"]).mean()

In [62]:
df_grouped

                                    Economy
Year Economy Label
1950 Afghanistan                        4.0
     Africa                          5100.0
     Albania                            8.0
     Algeria                           12.0
     American Samoa                    16.0
...                                     ...
2050 Yemen                            887.0
     Yemen, Democratic                720.0
     Yugoslavia, Soc. Fed. Rep. of    890.0
     Zambia                           894.0
     Zimbabwe                         716.0

[31571 rows x 1 columns]

In [66]:
# plot only afganastan as a bar chart
df_grouped.loc[2010, "Afghanistan"].plot(kind="bar")
plt.show()

KeyError: 'Afghanistan'